name: Aggiorna estrazioni Lotto

on:
  workflow_dispatch:
  schedule:
    - cron: "0 20 * * 2,4,6"


permissions:
  contents: write

jobs:
  aggiorna:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4

      - name: Run script
        run: python aggiorna_lotto.py


- name: Commit and push
  run: |
    git config user.name "github-actions"
    git config user.email "actions@github.com"
    git add .
    git commit -m "Aggiornamento estrazioni automatico" || echo "Niente da salvare"
    git push


 
    
     

